# MongoDB Configuration
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/njbot?retryWrites=true&w=majority

# JWT Secret
JWT_SECRET=sua_chave_secreta_bem_segura

# Login Fixo (Credenciais de Acesso)
LOGIN_FIXO_EMAIL=seu_email@exemplo.com
LOGIN_FIXO_SENHA=sua_senha_segura

# Porta do Servidor (opcional, padrão 3000)
PORT=3000

# APIs Externas (Google Gemini)
GOOGLE_GEMINI_API_KEY=sua_chave_api_do_gemini
